
.Text-Align { 
    color: rgb(0, 0, 0);
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 35%;
} 

.line-alignment {
    margin-top: 7%;
    margin-bottom: 92%;
}

body {
    background-color:antiquewhite;
}